.ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0; 
}

.caja {
  background-color: white;
  width: 100%;          
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  text-align: center;      
}

.titulo {
  font-family: 'montserrat', 'Arial Narrow', Arial, sans-serif;
  font-size: 45px;
}

@media screen and (max-width: 750px) {

  .ul{
    margin-left: -40px;
  }
  
}

@media screen and (max-width: 502px) {
  .ul{
    margin-left: -20px;
  }

}


